services:
  docker:
    build:
      context: .
      dockerfile: docker/docker.Dockerfile
      args:
        - DOCKER_USER=${DOCKER_USER}
        - DOCKER_UID=${DOCKER_UID}
        - DOCKER_GID=${DOCKER_GID}
    image: ${BASE_REGISTRY_IMAGE}/docker:${BUILD_TAG}

  ubuntu:
    build:
      context: .
      dockerfile: docker/ubuntu.Dockerfile
      args:
        - DOCKER_USER=${DOCKER_USER}
        - DOCKER_UID=${DOCKER_UID}
        - DOCKER_GID=${DOCKER_GID}
    image: ${BASE_REGISTRY_IMAGE}/ubuntu:${BUILD_TAG}

  test:
    build:
      context: .
      dockerfile: docker/test.Dockerfile
      args:
        - BASE_REGISTRY_IMAGE=${BASE_REGISTRY_IMAGE}
        - BUILD_TAG=${BUILD_TAG}
    image: ${BASE_REGISTRY_IMAGE}/test:${BUILD_TAG}

  yocto:
    build:
      context: .
      dockerfile: docker/yocto.Dockerfile
      args:
        - BASE_REGISTRY_IMAGE=${BASE_REGISTRY_IMAGE}
        - BUILD_TAG=${BUILD_TAG}
    image: ${BASE_REGISTRY_IMAGE}/yocto:${BUILD_TAG}
